<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml" />

    <appender name="SYSLOG" class="ch.qos.logback.classic.net.SyslogAppender">
        <syslogHost>${log.host:-log}</syslogHost>
        <port>${log.port:-514}</port>
        <facility>LOCAL0</facility>
        <suffixPattern>[%15.15thread] %level %logger:%L %M - %msg%n</suffixPattern>
    </appender>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d{yyy-MM-dd HH:mm:ss} [%15.15thread] %level %logger:%L %M - %msg%n
            </Pattern>
        </layout>
    </appender>

    <logger name="org.openlmis.referencedata" level="DEBUG" additivity="false">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="SYSLOG"/>
    </logger>

    <logger name="org.openlmis.referencedata.TestDataInitializer" level="TRACE" additivity="false">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="SYSLOG"/>
    </logger>

    <logger name="org.openlmis.referencedata.RightAssignmentInitializer" level="TRACE" additivity="false">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="SYSLOG"/>
    </logger>

    <!-- Define the root logger log level -->
    <root level="DEBUG">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="SYSLOG"/>
    </root>
</configuration>